.nbhv {

    PADDING-LEFT: 10px;

    FONT-WEIGHT: normal;

    FONT-SIZE: 10pt;

    PADDING-BOTTOM: 4px;

    COLOR: #0000FF;

    PADDING-TOP: 4px;

    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

    BACKGROUND-COLOR: #5FBADF;

    TEXT-DECORATION: none;

    vertical-align:middle;

    text-align:left;

    CURSOR: hand;

    width:153px;

}

.snb {
    PADDING-LEFT: 15px;
    PADDING-right: 15px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    COLOR: #FFFFFF;
    PADDING-TOP: 4px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #2792BD;
    TEXT-DECORATION: none;
    vertical-align:middle;
    text-align:left;
    border-bottom:#FFFFFF solid .5pt;
    width:100%;
    cursor:pointer;
}

.snbhv {
    PADDING-LEFT: 15px;
    PADDING-right: 15px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    COLOR: #0000FF;
    PADDING-TOP: 4px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #5FBADF;
    TEXT-DECORATION: none;
    vertical-align:middle;
    text-align:left;
    border-bottom:#FFFFFF solid .5pt;
    width:100%;
    cursor:pointer;
}

.navbar {

    PADDING-LEFT: 10px;

    FONT-WEIGHT: normal;

    FONT-SIZE: 10pt;

    PADDING-BOTTOM: 4px;

    COLOR: #FFFFFF;

    PADDING-TOP: 4px;

    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

    BACKGROUND-COLOR: #2792BD;

    TEXT-DECORATION: none;

    vertical-align:middle;

    text-align:left;

    width:153px;

}
