/* CSS Document */
.homepage-menu, .homepage-menu a:link, .homepage-menu a:visited{
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    color:#5d5d5d;
    text-decoration:none;
}
.header-menu, .header-menu a:link, .header-menu a:visited{
    font-family:Verdana;
    font-size:10px;
    font-weight:bold;
    color:#666666;

    text-decoration:none;
}
.header-menu a:hover{
    font-family:Verdana;
    font-size:10px;
    font-weight:bold;
    color:#3671b4;
    text-decoration:none;
}
.header-menu-nolink{
    font-family:Verdana;
    font-size:10px;
    font-weight:bold;
    color:#3671b4;
    text-decoration:none;
}

.product-module-name{
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    color:#176D00;
    text-align:left;
    vertical-align:middle;
    padding-left:17px;
}

.product-module-left-category, .product-module-left-category a:link, .product-module-left-category a:visited{
    font-family:Verdana;
    font-size:10px;
    font-style:normal;
    text-align:left;
    color:#666666;
    text-decoration:none;
}
.product-module-left-category a:hover{
    color:#1b5ba3;
}
.product-module-left-category-nolink{
    font-size:10px;
    color:#1b5ba3;
    font-family:Verdana;
    text-decoration:none;
    font-style:normal;
    text-align:left;
}

.product-module-cat-right{
    font-family:Verdana;
    font-weight:bold;
    font-size:12px;
    color:#176D00;
    vertical-align:top;
}

.product-module-viewall-link-nolink{
    font-family:Verdana;
    font-weight:normal;
    text-decoration:none;
    font-style:normal;
    font-size:11px;
    color:#c63800;
    vertical-align:top;
}
.product-module-viewall-link a:link, .product-module-viewall-link a:visited{
    font-family:Verdana;
    font-weight:normal;
    text-decoration:none;
    font-style:normal;
    font-size:11px;
    color:#414141;
    vertical-align:top;
}
.product-module-viewall-link a:hover{
    font-family:Verdana;
    font-weight:normal;
    text-decoration:none;
    font-style:normal;
    font-size:11px;
    color:#c63800;
    vertical-align:top;
}
.produle-name-list{
    font-family:tahoma;
    font-weight:bold;
    font-size:11px;
    color:#000000;
    text-decoration:none;
    font-style:normal;
}
.produle-name-list:link, .produle-name-list:visited{
    font-family:tahoma;
    font-weight:bold;
    font-size:11px;
    color:#000000;
    text-decoration:none;
    font-style:normal;
}
.produle-name-list:hover{
    text-decoration:underline;
}
.produle-data-list{
    font-family:tahoma;
    font-weight:normal;
    font-size:11px;
    color:#000000;
    text-decoration:none;
    font-style:normal;
}

.menu-list, .menu-list:link, .menu-list:visited{
    font-family:tahoma;
    font-weight:normal;
    font-size:11px;
    color:#c63800;
    text-decoration:none;
    font-style:normal;
}
.menu-list a:hover{
    color:#414141;
}
.site-name{
    font-family:Verdana;
    color:#666666;
    font-size:10px;
}
.menu-home{
    font-family:Arial;
    font-size:11px;
    color:#5d5d5d;
}
.copy_right{
    font-family:Verdana;
    color:#777777;
    font-size:10px;
    text-decoration:none;
}
.back-next, .back-next:link, .back-next:visited{
    font-family:tahoma;
    font-weight:normal;
    font-size:11px;
    color:#414141;
    text-decoration:none;
    font-style:normal;
}
