* {
    margin: 0px; padding: 0px;
}
html, body {
    background: url(../images/bg2.jpg) repeat-x top; background-color:#671b0e; color: #FFF;
}
#wrapper {
    margin: 0px auto; width: 962px; height:auto; 
}
#top-bar {
    line-height: 30px; width: 910px; color: #FFF; font-family: tahoma; font-size: 12px; font-weight:bold;
    text-align: right; margin-top: -185px; margin-bottom: 155px;
}
#top-bar a {
    color: #ffffff; padding: 3px; text-decoration: none;
}
#top-bar a:hover {
    color: #000000;
}
#header {
    height: 193px; width:962px; background: url(../images/header.jpg) no-repeat bottom;
}
#banner {
    height: 161px; width:962px; background: url(../images/banner.jpg) no-repeat center top;
}
#menu {
    text-align: center; font-family: verdana; font-size: 13px; color: #FFF; line-height: 25px;
}
#menu a {
    color: #FFF; text-decoration: none; margin-left: 5px; margin-right: 5px;
}
#menu a:hover {
    color: yellow;
}
#content {
    width: 962px; margin: 0px auto;
}
#footer {
    background: #4D4D4D; float: left; width: 100%; height: 21px; line-height: 21px; color: #A5A4A4; font-family: arial; font-size: 12px; margin-top: -21px; position: relative;
}
#footer div {
    width: 962px; margin: 0px auto;
}
#footer #left {
    float: left; clear: left;
}
#footer #right {
    float: right;
}
.popup {
    color: #CCCCCC; font-family: "Century Gothic"; font-size: 13px;  width:auto !important; z-index: 1000;
}
.popup a.popup-item {
    font-family: "Century Gothic"; font-weight:bold; font-size: 13px; color: #cdcdcd; text-decoration: none; line-height: 20px; padding-left: 5px; border-bottom: none; display: block; padding-left:15px;
}
.popup a.popup-item:hover {
    color: #FFFFFF;
}
.popup-item-img, .popup-item-img img {
    padding:0px;
    display: block;
    border:none;
}
.popup-item-img img {
    border-bottom:1px solid #bcbcbc;
}	
.path {
    font-family: arial; font-size: 20px; color: #FFF; font-weight: bold; margin-bottom: 16px; margin-top: 18px;
}
.link-button {
    padding: 3px; background: #CCCCCC; font-family: "Century Gothic"; font-size: 13px; text-decoration: none; color: #666666;  font-weight:normal; 
}
.link-button-hv {
    padding: 3px; background: #999999; font-family: "Century Gothic"; font-size: 13px; text-decoration: none; color: #ffffff;  font-weight:normal; 
}
.link-button:hover {
    background: #DDD; color: #C61313;
}