/* CSS Document */
#con {
    OVERFLOW: hidden; WIDTH: 485px; POSITION: relative; HEIGHT: 72px
}
#prodlist {
    FONT-SIZE: 9px; POSITION: absolute; TOP: 4px; HEIGHT: 72px
}
#vprods {
    PADDING-LEFT: 10px; FONT-SIZE: 9px; POSITION: absolute; TOP: 4px; HEIGHT: 72px
}
#con #goleft {
    BACKGROUND-POSITION: center center; Z-INDEX: 20; WIDTH: 24px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 0px; HEIGHT: 64px; BACKGROUND-COLOR: #fff
}
#con #goright {
    BACKGROUND-POSITION: center center; Z-INDEX: 20; WIDTH: 24px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 0px; HEIGHT: 64px; BACKGROUND-COLOR: #fff
}
#con #goleft SPAN {
    DISPLAY: none
}
#con #goright SPAN {
    DISPLAY: none
}

