@import url("base.css");
@import url("layout.css");
@import url("skeleton.css");

.main {
    float:left;
}

.twelve:not(.quick-access) {
    padding:5px;
}

.social, .block.block-subscribe {
    text-align:center;
    clear:both;
}

.four:not(.logo):not(.sidebar), table, .category-nav, footer, .twelve:not(.quick-access):not(.cart) {
    -moz-box-shadow: 0 0 10px 1px grey;
    -webkit-box-shadow: 0 0 10px 1px grey;
    box-shadow: 0 0 10px 1px grey;
}
table{
    font-size:80%;
}

tfoot td:last-child {
    text-align: right;
}

tfoot td {
    padding: 10px;
}

[type=number] {
    text-align:right;
}

table td:nth-child(2) img {
    height: 80px;
}

tbody td, th {
    text-align: left;
    vertical-align: middle;
    padding: 5px;
}

th:nth-child(4), th:nth-child(5), th:nth-child(6), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: right;
}

th, tfoot {
    background: #EEEEEE;
}

caption {
    background: #E0E0E0;
    font-weight: bold;
}

body {
    background:  #4fa2e4;
}

.wrapper {
    background-color: #FFFFFF;
    -moz-box-shadow: 0 0 10px 8px #267dc0;
    -webkit-box-shadow: 0 0 10px 8px #267dc0;
    box-shadow: 0 0 10px 8px #267dc0;
}

/*************************************/
/*Header                             */
/*************************************/
.logo h1 {
    margin-top: 10px;
    margin-left: -7px;
    margin-bottom: -20px;

}

.logo h2 {
    margin-top:2px;
    margin-left: 10px;
    font-size: 13px;
    font-style: italic;
    color: #37B5E7;
}

.logo h2 span {
    font-size: 25px;
}

/*************************************/
/*Main navigation                    */
/*************************************/
.category-nav a {
    color:#4FA2E4;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    line-height: 1em;
}

.category-nav a:hover {
    text-decoration: underline;
}

.category-nav>ul>li{
    /*border: 3px outset #D7CECA;*/
    padding: 0.5em 1em;
}

.category-nav > ul> li > span {
    font-weight: bold;
    font-size: 120%;
    line-height: 2em;
    text-transform: uppercase;
}

.category-nav a {
    text-decoration: none;
}

.category-nav > ul > li:nth-child(1) {
    color: #08187E;
}

.category-nav > ul > li:nth-child(2) {
    color: #FF8000;
}

.category-nav > ul > li:nth-child(3) {
    color: #007C31;
}

/*
.main-nav ul li:first-child a{
    border-top-left-radius: 20px;
}
*/

.main-nav {
    clear: both;
}
.main-nav {
    background: url("http://localhost/eWorldComputers/assets/images/navigation.png");
    height: 35px;
    margin-bottom: 15px;
}
.main-nav ul {
    padding-top: 7px;
    text-align: left;
    margin-left: 19em;
}

#search_mini_form {
    text-align:right;
    margin-top: -1.7em;
    margin-right: 1.5em;
}

#search_mini_form .button {
    padding-top: 1px;
    height: 23px;
}

#search_mini_form input {
    margin-top: 2px;
}

#search_mini_form button.button {
    line-height: 20px;
}

.main-nav li {
    display: inline;
    text-align: center;
    padding: 2px 10px 2px 10px;
    border-left:2px solid #9EC6EF;
}

.main-nav li:first-child,.main-nav li:last-child {
    border: none;
}

.main-nav li a {
    text-decoration: none;
    color:  #0B4363;
    font-weight: bold;
    /*
    border-left: 1px solid #008ECA;
    border-right: 1px solid #008ECA;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#A9DCF2), to(#00A2E3));
    background-image: -webkit-linear-gradient(top, #A9DCF2, #00A2E3);
    background-image: -moz-linear-gradient(top, #A9DCF2, #00A2E3);
    background-image: -o-linear-gradient(top, #A9DCF2, #00A2E3);
    background-image: linear-gradient(to bottom, #A9DCF2, #00A2E3);
    */
}

.main-nav li:first-child a {
    border-left: none;
}

.main-nav li a:hover {
    color: #99D6F1;
    /*
        background-image: -webkit-gradient(linear, left top, left bottom, from(#C4DAA0), to(#87B43F));
        background-image: -webkit-linear-gradient(top, #C4DAA0, #87B43F);
        background-image: -moz-linear-gradient(top, #C4DAA0, #87B43F);
        background-image: -o-linear-gradient(top, #C4DAA0, #87B43F);
        background-image: linear-gradient(to bottom, #C4DAA0, #87B43F);
    */
}

/*************************************/
/*Quick Access                       */
/*************************************/
.quick-access {
    padding-top: 5px;
}

.login ul {
    list-style: none;
}

.login ul li {
    display: inline;
}

.login>ul>li>a {
    font-size:12px;
    text-decoration: none;
    padding: 0 0.55em;
    border-left: 1px solid #02A2E3;
}

.login>ul>li:first-child a{
    border: none;
}

.login ul li a:hover {
    color: #00A2E3;
}

/*************************************/
/*Global search bar                  */
/*************************************/
.quick-access {
    text-align: right;
}

/*************************************/
/*Customer Login                     */
/*************************************/
.loginarea, .createarea{
    height: 300px;
    padding: 8px;
    margin-bottom: 15px;
}

/*************************************/
/*Breadcrumbs                        */
/*************************************/
.breadcrumbs {
    margin: 5px 10px;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs a {
    text-decoration: none;
    color: #6FA2ED;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

/*************************************/
/*Main                               */
/*************************************/
.main-container {
    margin: 0 2em;
}

/*************************************/
/*Forms                              */
/*************************************/
.contact-us form, .contact-us fieldset {
    border: 2px outset #B6B4B3;
    padding: 1em;
}

/*************************************/
/*Slideshow animation                */
/*************************************/
@-moz-keyframes cycle {
    0%  { left:0px; }
4%  { left:0px; }
16% { left:0px; opacity:1; z-index:0; }
20% { left:325px; opacity:0; z-index:0; }
21% { left:-325px; opacity:0; z-index:-1; }
92% { left:-325px; opacity:0; z-index:0; }
96% { left:-325px; opacity:0; }
100%{ left:0px; opacity:1; }

}

@-moz-keyframes cycletwo {
    0%  { left:-325px; opacity:0; }
16% { left:-325px; opacity:0; }
20% { left:0px; opacity:1; }
24% { left:0px; opacity:1; }
36% { left:0px; opacity:1; z-index:0; }
40% { left:325px; opacity:0; z-index:0; }
41% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-moz-keyframes cyclethree {
    0%  { left:-325px; opacity:0; }
36% { left:-325px; opacity:0; }
40% { left:0px; opacity:1; }
44% { left:0px; opacity:1; }
56% { left:0px; opacity:1; }
60% { left:325px; opacity:0; z-index:0; }
61% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-moz-keyframes cyclefour {
    0%  { left:-325px; opacity:0; }
56% { left:-325px; opacity:0; }
60% { left:0px; opacity:1; }
64% { left:0px; opacity:1; }
76% { left:0px; opacity:1; z-index:0; }
80% { left:325px; opacity:0; z-index:0; }
81% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-moz-keyframes cyclefive {
    0%  { left:-325px; opacity:0; }
76% { left:-325px; opacity:0; }
80% { left:0px; opacity:1; }
84% { left:0px; opacity:1; }
96% { left:0px; opacity:1; z-index:0; }
100%{ left:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
    0%  { left:0px; }
4%  { left:0px; }
16% { left:0px; opacity:1; z-index:0; }
20% { left:325px; opacity:0; z-index:0; }
21% { left:-325px; opacity:0; z-index:-1; }
50% { left:-325px; opacity:0; z-index:-1; }
92% { left:-325px; opacity:0; z-index:0; }
96% { left:-325px; opacity:0; }
100%{ left:0px; opacity:1; }
}

@-webkit-keyframes cycletwo {
    0%  { left:-325px; opacity:0; }
16% { left:-325px; opacity:0; }
20% { left:0px; opacity:1; }
24% { left:0px; opacity:1; }
36% { left:0px; opacity:1; z-index:0; }
40% { left:325px; opacity:0; z-index:0; }
41% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclethree {
    0%  { left:-325px; opacity:0; }
36% { left:-325px; opacity:0; }
40% { left:0px; opacity:1; }
44% { left:0px; opacity:1; }
56% { left:0px; opacity:1; z-index:0; }
60% { left:325px; opacity:0; z-index:0; }
61% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclefour {
    0%  { left:-325px; opacity:0; }
56% { left:-325px; opacity:0; }
60% { left:0px; opacity:1; }
64% { left:0px; opacity:1; }
76% { left:0px; opacity:1; z-index:0; }
80% { left:325px; opacity:0; z-index:0; }
81% { left:-325px; opacity:0; z-index:-1; }
100%{ left:-325px; opacity:0; z-index:-1; }
}

@-webkit-keyframes cyclefive {
    0%  { left:-325px; opacity:0; }
76% { left:-325px; opacity:0; }
80% { left:0px; opacity:1; }
84% { left:0px; opacity:1; }
96% { left:0px; opacity:1; z-index:0; }
100%{ left:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}

.content h1 {
    font-size:48px;
    color:#000;
    text-shadow:0px 1px 1px #f4f4f4;
    text-align:center;
    padding:60px 0 30px;
}

/* LAYOUT */
.slider-container {
    overflow:hidden;
}

/* CONTENT SLIDER
#content-slider {
        height:360px;
        margin:10px auto 0;
}
*/

/* SLIDER */
#slider {
    background:#000;
    border:5px solid #eaeaea;
    box-shadow:1px 1px 5px rgba(0,0,0,0.7);
    width:718px;
    overflow:visible;
    position:relative;
}
#mask {
    overflow:hidden;
    height:320px;
}

#slider ul {
    margin:0;
    padding:0;
    position:relative;
}

#slider li {
    width:680px;
    height:320px;
    position:absolute;
    left:-325px;
    list-style:none;
}

#slider li.firstanimation {
    -moz-animation:cycle 25s linear infinite;
    -webkit-animation:cycle 25s linear infinite;
}
#slider li.secondanimation {
    -moz-animation:cycletwo 25s linear infinite;
    -webkit-animation:cycletwo 25s linear infinite;
}
#slider li.thirdanimation {
    -moz-animation:cyclethree 25s linear infinite;
    -webkit-animation:cyclethree 25s linear infinite;
}
#slider li.fourthanimation {
    -moz-animation:cyclefour 25s linear infinite;
    -webkit-animation:cyclefour 25s linear infinite;
}
#slider li.fifthanimation {
    -moz-animation:cyclefive 25s linear infinite;
    -webkit-animation:cyclefive 25s linear infinite;
}

#slider .tooltip {
    background:rgba(0,255,0,0.7);
    width:300px;
    height:60px;
    position:relative;
    bottom:75px;
    left:-320px;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
#slider .tooltip h1 {
    color:#fff;
    font-size:24px;
    font-weight:300;
    line-height:60px;
    padding:0 0 0 20px;
}
#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip,
#slider li#fifth:hover .tooltip {
    left:0px;
}
#slider:hover li,
#slider:hover .progress-bar {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar {
    position:relative;
    width:680px;
    height:5px;
    background:#00FF00;
    -moz-animation:fullexpand 25s ease-out infinite;
    -webkit-animation:fullexpand 25s ease-out infinite;
}

/*************************************/
/*Products page                      */
/*************************************/
article.product img, article.list-style img {
    height: 140px;
}

article.product, article.empty {
    /*    border: 2px solid #E9EFDF;*/
    height: 280px;
    display:inline;
    margin: 5px 0;
    padding-top: 10px;
    text-align: center;
}

article.product p:not(:first-child) {
    text-align:left;
    margin: 10px;
}

article.product strong {
    color: green;
}

.empty p, p.product {
    border: 1px dotted blue;
    color: green;
    background: #E5E5FF;
    padding: 5px;
}

/*************************************/
/*Product-focus page                 */
/*************************************/
article.product-focus img {
    height: 240px;
}

article.product-focus span.available {
    color: green;
}

article.product-focus span.unavailable {
    color: red;
}

/*************************************/
/*Miscellaneous                      */
/*************************************/
.pagination {
    clear:both;
    text-align: center;
    padding: 20px 0;
}

.pagination a, .pagination strong {
    color:#4FA2E4;
    background: #eeeeee;
    border: 2px outset #CCEBF8;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background: #CCEBF8;
    color: green;
}

.pagination strong, .pagination a:active {
    border: 2px inset;
    background: #CCEBF8;
    color: green;
}

.pwd a {
    text-decoration:none;
}

.static-block {
    margin-top: 20px;
    background: #eeeeee;
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ABD8EA), to(#00A2E3));
    background-image: -webkit-linear-gradient(top, #ABD8EA, #00A2E3);
    background-image: -moz-linear-gradient(top, #ABD8EA, #00A2E3);
    background-image: -o-linear-gradient(top, #ABD8EA, #00A2E3);
    background-image: linear-gradient(to bottom, #ABD8EA, #00A2E3);
    */
}

.static-block h2 {
    color: #006098;
    margin: 10px;
}

.static-block p {
    margin: 10px;
}

.static-block img {
    width:100%;
}

.block.block-subscribe .block-title {
    text-align: center;
    background: #4FA2E4;
    padding: 3px 6px;
}

.block.block-subscribe .block-title strong {
    color: white;
}

.form-subscribe-header label {
    margin: 5px 0;
    text-align: center;
    font-weight: normal;
    font-size: 80%;
}

input#newsletter.input-text{
    width: 58%;
    float:left;
}

div.actions {
    margin-top: -1px;
    float: right;
    display: inline;
}

/*************************************/
/*Footer							 */
/*************************************/
footer {
    float:right;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px outset #D7CECA;
    padding: 7px 0;
    width: 70%;
    text-align: center;
    /*margin-right: 18px;*/
}

footer .column {
    text-align: left;
    float: left;
    padding: 0 20px;
}

footer .column > ul {
    color: #006098;
    font-weight: bold;
}

footer .column > ul > li > ul a {
    text-decoration: none;
    font-size: 80%;
    margin-left: -2.8em;
    color: #4FA2E4;
}

footer .column > ul > li > ul a:hover {
    text-decoration: underline;
}

address {
    font-size: 80%;
    clear:both;
    color: #00772B;
    text-align: center;
}

address a {
    color: #00772B;
}